.splash-page{
    max-height: 25vh;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

.header-splash {
    font-size: 5.5em;
    color: #bce2ff;
    font-weight: 200;
    display: inline-block;
}

.header-subtitle {
    font-size: 1em;
    font-weight: 400;
    color: rgb(204, 204, 204);
}