.info-page {
    text-align: left;
    margin: 0em 6.5em;
    margin-top: 1.2em;
    max-width: 100%;
}

.info-container {
    min-height: 50vh;
    display: flex;
    flex-flow: row wrap;
    margin-top: 1em;
}

.issue-title {
    font-weight: 500;
    font-size: 1.15em;
    margin-bottom: -.5em;
    color: rgb(180, 227, 255);
    background: -webkit-linear-gradient(bottom, rgb(56, 159, 255), rgb(199, 237, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0 .7em;
    padding: 0 .5em;
  }

.header-name {
    flex: 1 100%;
    text-transform: capitalize;
    font-size: 1.7em;
    color: rgb(140, 228, 255);
    background: -webkit-linear-gradient(bottom, rgb(172, 215, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    display: inline-block;
}

@media only screen and (max-width: 770px) {
    .info-page  {
      margin: 0;
      text-align: center;
    }

    .info-container {
        text-align: left;
    }
  }