.candidate-card {
    background: #222;
    display: inline-block;
    margin: 1em;
    padding: 2.8em 1.6em;
    border-radius: 9px;
    text-align: center;
    transition: 0.15s transform ease;
    cursor: pointer;
    min-width: 10.5em;
    max-height: 10em;
    position: relative;
}

.candidate-card:hover {
   transform: scale(1.08);
   background: linear-gradient(rgb(68, 68, 68) , #222);
}

.candidate-card-selected {
    background: #222;
    display: inline-block;
    margin: 1em;
    padding: 2.8em 1.6em;
    border-radius: 9px;
    text-align: center;
    transition: 0.15s transform ease;
    cursor: pointer;
    min-width: 10.5em;
    max-height: 10em;
    position: relative;
    background: linear-gradient(to bottom, rgb(32, 147, 255) , rgb(10, 15, 19));
}

.candidate-card-selected:hover {
    transform: scale(1.08);
    /* background: linear-gradient(rgb(49, 49, 49) , #222); */
 }

.candidate-name {
    font-size: 1.25em;
    text-transform: capitalize;
    margin-bottom: .22em;
}

.candidate-location { 
    text-transform: capitalize;
    opacity: 0.55;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .82em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: inline-block;
}

.candidate-avatar {
   border-radius: 100px;
   margin: 0 auto;
   display: block;
   width: 5em;
}

.candidate-status {
    width: .45em;
    height: .45em;
    background-color: #4A4A4A;
    border-radius: 100px;
    position: absolute;
    left: 9px;
    top: 9px;
}

.active {
     background-color: #1AF042;
}